html body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
header{
    width: 100%;
    height: 20%;
    /* background-color: darkcyan; */
    text-align: center;
}
header h1{
    padding-top: 25px;
    margin: 0;
}

header span{
    background-color: black;
    font-weight: bold;
    color: #fff;
}
.blog-container{
    margin-left: 15%;
    width: 45%;
     float: left;
     margin-top: 50px;
   
}
.introduction-menu{
    width: 25%;
    height: 200px;
    background-color: chartreuse;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
    
} 
/* article */
article{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 30px;
    margin-bottom: 50px;
}
article:hover{
    background-color: darkgray;
}
article img{
    width: 100%;
    
}
article div{
    padding: 0 20px;
}
/* intro-menu */
.introduction-menu > div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.introduction-menu div:hover{
    background-color: darkgray;
}
.introduction-menu div img{
    width: 100%;
    
}
.introduction-menu div div{
    padding: 0 20px;
}
@media screen and {max-width: 1000px;}
    
    
}

