 /* Áp dụng cho toàn bộ p */
 p {
    background-color: aquamarine;
}
/* Áp dung cho các p nằm trong div */
div p {
    color: red;
}
div div p {
    font-weight: bold;
}
/* Áp dụng cho các p là con trực tiếp của body */
body > p {
    font-size: 36px;
}
div + p {
    text-decoration: underline;
}
div ~ p{
    font-style: italic;
}